<?xml version="1.0"?>
<config>
    <modules>
        <Gala_Rainbowsettings>
            <version>0.1.0</version>
        </Gala_Rainbowsettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <galarainbow>
                                            <title>Gala Rainbow Configure</title>
                                        </galarainbow>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <rainbowsettings>
                    <file>gala_rainbowsettings.xml</file>
                </rainbowsettings>
            </updates>
        </layout>
        <menu>
            <galathemes translate="title">
                <title>Galathemes</title>
                <sort_order>72</sort_order>
                <children>
                    <rainbow_setting module="rainbowsettings" translate="title">
                        <title>Gala Rainbow Settings</title>
                        <sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/galarainbow/</action>
                    </rainbow_setting>
                    <help module="rainbowsettings" translate="title">
                        <title>Help &amp; Support</title>
                        <sort_order>200</sort_order>
                        <children>
                            <rainbow_userguide module="rainbowsettings" translate="title">
                                <title>Gala Rainbow User Guide</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/rainbowsettings_link/userguide/</action>
                            </rainbow_userguide>
                            <forum module="rainbowsettings" translate="title">
                                <title>Request installation</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/rainbowsettings_link/requestinstallation/</action>
                            </forum>
                            <ticket module="rainbowsettings" translate="title">
                                <title>Technical support</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/rainbowsettings_link/technicalsupport/</action>
                            </ticket>                            
                            <contact_us module="rainbowsettings" translate="title">
                                <title>Contact Us</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/rainbowsettings_link/contactus/</action>
                            </contact_us>
							 <!--rainbow_sample_data module="rainbowsettings" translate="title">
                                <title>Gala Rainbow Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/rainbowsettings_theme/export/</action>
                            </rainbow_sample_data-->
                        </children>
                    </help>
                </children>
            </galathemes>
        </menu>
    </adminhtml>

    <frontend>
        <routers>
            <rainbowsettings>
                <use>standard</use>
                <args>
                    <module>Gala_Rainbowsettings</module>
                    <frontName>rainbowsettings</frontName>
                </args>
            </rainbowsettings>
        </routers>
        <layout>
            <updates>
                <rainbowsettings>
                    <file>gala_rainbowsettings.xml</file>
                </rainbowsettings>
            </updates>
        </layout>
		<events>
			<controller_action_layout_generate_xml_before>
                <observers>
                    <themeframework_change_layout>
                        <type>singleton</type>
                        <class>Gala_Rainbowsettings_Model_Observer</class>
                        <method>changeLayoutEvent</method>
                    </themeframework_change_layout>
                </observers>
            </controller_action_layout_generate_xml_before>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<galarainbow_config_after_save>
    					<class>Gala_Rainbowsettings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</galarainbow_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<rainbowsettings>
    					<class>Gala_Rainbowsettings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</rainbowsettings>
    			</observers>
    		</catalog_product_collection_load_before>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<rainbowsettings before="Mage_Adminhtml">Gala_Rainbowsettings_Adminhtml</rainbowsettings>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gala_Rainbowsettings>
							<title>Rainbowsettings Module</title>
							<sort_order>10</sort_order>
						</Gala_Rainbowsettings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rainbowsettings>
					<file>gala_rainbowsettings.xml</file>
				</rainbowsettings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>Gala_Rainbowsettings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <models>
            <rainbowsettings>
                <class>Gala_Rainbowsettings_Model</class>
                <resourceModel>rainbowsettings_mysql4</resourceModel>
            </rainbowsettings>
            <rainbowsettings_mysql4>
                <class>Gala_Rainbowsettings_Model_Mysql4</class>
                <entities>
                    <rainbowsettings>
                        <table>rainbowsettings</table>
                    </rainbowsettings>
                    <megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </rainbowsettings_mysql4>
        </models>
        <resources>
            <rainbowsettings_setup>
                <setup>
                    <module>Gala_Rainbowsettings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rainbowsettings_setup>
            <rainbowsettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rainbowsettings_write>
            <rainbowsettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rainbowsettings_read>
        </resources>
        <blocks>
            <rainbowsettings>
                <class>Gala_Rainbowsettings_Block</class>
            </rainbowsettings>
        </blocks>
        <helpers>
            <rainbowsettings>
                <class>Gala_Rainbowsettings_Helper</class>
            </rainbowsettings>
			<catalog>
				<rewrite>
					<image>Gala_Rainbowsettings_Helper_CatalogImage</image>
				</rewrite>
			</catalog>
        </helpers>
    </global>
	<default>
		<galarainbow>
			<general>
				<disable_default_nav>1</disable_default_nav>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>0</disable_frontend_variation>
				<disable_footer_links>1</disable_footer_links>
				<box_wide>wide</box_wide>
				<wideslide_full>1</wideslide_full>
				<p_bg_color></p_bg_color>
				<page_bg_image></page_bg_image>
				<page_bg_file></page_bg_file>
				<page_bg_position></page_bg_position>
				<page_bg_repeat></page_bg_repeat>
			</general>
			<typography>
				<google_fonts>ABeeZee</google_fonts>
				<google_fonts_weights>100,200,300,400,500,600,700,800,900,1000</google_fonts_weights>
				<general_font>normal 12px/1.35 Roboto,Arial,Helvetica,sans-serif</general_font>
				<h1_font>300 24px/1.15 ABeeZee,Arial,Helvetica,sans-serif</h1_font>
				<h2_font>600 22px/1.25 ABeeZee,Arial,Helvetica,sans-serif</h2_font>
				<h3_font>600 18px/1.25 ABeeZee,Arial,Helvetica,sans-serif</h3_font>
				<h4_font>600 16px/1.35 ABeeZee,Arial,Helvetica,sans-serif</h4_font>
				<h5_font>500 14px/1.35 ABeeZee,Arial,Helvetica,sans-serif</h5_font>
				<h6_font>normal 12px/1.35 ABeeZee,Arial,Helvetica,sans-serif</h6_font>
				<additional_css_file></additional_css_file>
				<custom_css></custom_css>
			</typography>
			<header>
				<h_text_color></h_text_color>
				<h_text2_color></h_text2_color>
				<h_text3_color></h_text3_color>
				<h_text4_color></h_text4_color>
				<h_text5_color></h_text5_color>
				<h_line_color></h_line_color>
				<h_line2_color></h_line2_color>
				<h_line3_color></h_line3_color>
				<h_bg_color></h_bg_color>
				<h_bg2_color></h_bg2_color>
				<h_bg3_color></h_bg3_color>
				<h_bg4_color></h_bg4_color>
				<h_bg_image></h_bg_image>
				<h_bg_file></h_bg_file>
				<h_bg_position></h_bg_position>
				<h_bg_repeat></h_bg_repeat>
			</header>
            <menu>
                <tm_bg_color></tm_bg_color>
                <tm_hover_bg_color></tm_hover_bg_color>
                <tm_text_color></tm_text_color>
                <tm_hover_text_color></tm_hover_text_color>
				<tm_line_color></tm_line_color>
				<tm_line2_color></tm_line2_color>
                <tm_font>normal 13px/1.35 ABeeZee,Arial,Helvetica,sans-serif</tm_font>

                <dm_bg_color></dm_bg_color>
                <dm_text_color></dm_text_color>
                <dm_text2_color></dm_text2_color>
                <dm_text3_color></dm_text3_color>
                <dm_font></dm_font>
            </menu>
            <body>
                <bd_bg_color></bd_bg_color>
                <bd_bg2_color></bd_bg2_color>
                <bd_bg3_color></bd_bg3_color>
                <bd_bg4_color></bd_bg4_color>
                <bd_bg5_color></bd_bg5_color>
                <bd_bg_image></bd_bg_image>
                <bd_bg_position></bd_bg_position>
                <bd_bg_repeat></bd_bg_repeat>
                <bd_text_color></bd_text_color>
                <bd_text2_color></bd_text2_color>
                <bd_text3_color></bd_text3_color>
                <bd_text4_color></bd_text4_color>
                <bd_text5_color></bd_text5_color>
                <bd_text6_color></bd_text6_color>
                <bd_text7_color></bd_text7_color>
                <bd_text8_color></bd_text8_color>
                <bd_line_color></bd_line_color>
                <bd_line2_color></bd_line2_color>
                <bd_line3_color></bd_line3_color>
                <bd_line4_color></bd_line4_color>
                <bd_box_shadow></bd_box_shadow>
                <bd_rounded_corner></bd_rounded_corner>
            </body>
            <footer>
                <f_bg_color></f_bg_color>
                <f_bg2_color></f_bg2_color>
                <f_bg_image></f_bg_image>
                <f_bg_position></f_bg_position>
                <f_bg_repeat></f_bg_repeat>
                <f_text_color></f_text_color>
                <f_text2_color></f_text2_color>
                <f_text3_color></f_text3_color>
                <f_text4_color></f_text4_color>
                <f_line_color></f_line_color>
                <f_line2_color></f_line2_color>
            </footer>
            <button>
                <btn1_bg_color></btn1_bg_color>
                <btn1_text_color></btn1_text_color>
                <btn1_line_color></btn1_line_color>
                <btn1_font>300 16px/1.35 ABeeZee,Arial,Helvetica,sans-serif</btn1_font>

                <btn2_bg_color></btn2_bg_color>
                <btn2_text_color></btn2_text_color>
                <btn2_line_color></btn2_line_color>
                <btn2_font>300 16px/1.35 ABeeZee,Arial,Helvetica,sans-serif</btn2_font>

				<btn3_bg_color></btn3_bg_color>
                <btn3_text_color></btn3_text_color>
                <btn3_line_color></btn3_line_color>
                <btn3_font>300 16px/1.35 ABeeZee,Arial,Helvetica,sans-serif</btn3_font>
            </button>
			<products_grid>
				<li_width>194</li_width>
				<li_height>385</li_height>
				<gutter>-1</gutter>
				<show_product_name>1</show_product_name>
				<show_sku>1</show_sku>
			    <show_thumbnail>1</show_thumbnail>
				<thumb_width>194</thumb_width>
				<thumb_height>194</thumb_height>
			    <alt_img>image</alt_img>
			    <show_desc>0</show_desc>
			    <show_price>1</show_price>
			    <show_reviews>1</show_reviews>
			    <show_saleables>0</show_saleables>
			    <show_addtocart>1</show_addtocart>
			    <show_addto>1</show_addto>
			    <show_label>1</show_label>
			</products_grid>
			<products_list>
				<width>200</width>
				<height>200</height>
				<gutter></gutter>
				<show_product_name>1</show_product_name>
				<show_sku>1</show_sku>
				<show_thumbnail>1</show_thumbnail>
				<alt_img>image</alt_img>
				<show_desc>1</show_desc>
				<show_price>1</show_price>
				<show_reviews>1</show_reviews>
				<show_saleables>1</show_saleables>
				<show_addtocart>1</show_addtocart>
				<show_addto>1</show_addto>
				<show_label>1</show_label>
			</products_list>
			<image_product>
				<viewmode>cloudzoom</viewmode>
				<base_image_width></base_image_width>
                <base_image_height></base_image_height>
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
                <thumb_base_width>90</thumb_base_width>
				<thumb_base_height>90</thumb_base_height>
				<usetabs>1</usetabs>
                <disable_social>1</disable_social>
			</image_product>
			<related>
				<width>150</width>
				<height>150</height>
			</related>
			<upsell>
				<width>150</width>
				<height>150</height>
			</upsell>
			<crosssell>
				<width>150</width>
				<height>150</height>
			</crosssell>
            <sidebar>
                <width>90</width>
                <height>90</height>
            </sidebar>
            <cart>
                <width>90</width>
				<height>90</height>
			</cart>
			<ajaxcart>
				<auto_close>5</auto_close>
			</ajaxcart>
			<sidebar>
				<list>catalog_search_layer,catalog_leftnav,catalog_shopby,compare,poll,popular_tags,recent_view,latest_review,callout_cate,wishlist_sidebar,reorder_sidebar</list>
				<block_data>
                    <catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before></before>
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
                    <catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before></before>
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
                    <catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
                    <compare>
						<type>catalog/product_compare_sidebar</type>
						<name>em.catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
						<before></before>
					</compare>
					<recent_view>
						<type>cms/block</type>
						<name>em.galarainbow_recent_view</name>
						<action>method:setBlockId?block_id:galarainbow_recent_view</action>
						<after>em.catalog.compare.sidebar</after>
					</recent_view>
					<latest_review>
						<type>cms/block</type>
						<name>em.galarainbow_latest_review</name>
						<action>method:setBlockId?block_id:galarainbow_latest_review</action>
						<after>em.galarainbow_recent_view</after>
					</latest_review>
					<callout_cate>
						<type>cms/block</type>
						<name>em.galarainbow_callout_category</name>
						<action>method:setBlockId?block_id:galarainbow_callout_category</action>
						<after>em.galarainbow_latest_review</after>
					</callout_cate>
					 <poll>
						<type>poll/activePoll</type>
						<name>em.poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
                        <after>em.galarainbow_callout_category</after>
					</poll>
					<popular_tags>
						<type>tag/popular</type>
						<name>em.tags_popular</name>
						<template>tag/popular.phtml</template>
						<after>em.poll_sidebar</after>
					</popular_tags>
					<wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>em.wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
						<after>em.tags_popular</after>
					</wishlist_sidebar>
					<reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
						<!--<after>em.wishlist_sidebar</after>-->
					</reorder_sidebar>
				</block_data>
			</sidebar>
			<position>
				<catalog_shopby>left</catalog_shopby>
				<catalog_leftnav>left</catalog_leftnav>
				<catalog_search_layer>left</catalog_search_layer>
				<compare>all</compare>
				<recent_view>left</recent_view>
				<latest_review>left</latest_review>
				<callout_cate>left</callout_cate>
				<poll>all</poll>
				<popular_tags>left</popular_tags>
				<wishlist_sidebar>all</wishlist_sidebar>
				<reorder_sidebar>right</reorder_sidebar>
			</position>
		</galarainbow>
	</default>
</config>